/* ===Declaring Variables=== */
:root{
    scroll-behavior: smooth;
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P';
    --page-font:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --textBlock-font: "Changa";
    --heading-shadow:#1C588CE6;
    --textBlock-bgc: #1C588C80;
    --footer-bgc:#0e2c46;

}
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
}

/* ===Start of CSS=== */
body{
    padding: 0px;
    margin: 0px;
    background-image: url(/assets/backgrounds/background.png);
    background-size: cover;
}

header{
    display: flex;
    flex-direction: row;
    width: 84%;
    margin-inline: auto;
    color: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blogHeading{
    font-size: 48px;
    font-family: var(--heading-font);
    text-shadow: 0px 6px var(--heading-shadow);
}

.btnContainer{
    width: auto;
    margin-inline: auto;
    margin-block: auto;
}

.goBackBtn button{
    color: #FCD900;
    background-color: var(--heading-shadow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    padding-left: 4px;
    padding-top: 4px;
}

.goBackBtn button{
    background-color: var(--nav-selected-bgc);
}

.topHeading{
    width: auto;
    margin-inline: auto;
}

.heading{
    margin-inline: auto;
    max-width: 740px;
}

.mainHeading{
    margin-block: 20px 0;
    font-family: var(--textBlock-font);
    font-size: 60px;
    color: white;
    text-shadow: 5px 4px var(--heading-shadow);
    text-align: right;
}

.postTextContainer{
    margin-inline: auto;
    max-width: 740px;
}

.postText {
    background-color: #F4F5FF;
    border: solid 8px #1C588C;
    padding: 20px;
    padding-right: 40px;
    color: #000;
    margin-inline: auto;
    font-family: var(--textBlock-font);
    font-size: 22px;
    text-align: right;
    margin-bottom: 100px;
}

.postText p{
    margin: 0;
}

.postText li{
    list-style: none;
}

.postText hr{
    width: 95%;
    color: #aaa;
}

.postText a{
    color: #1C588C;
    text-decoration: none;
}

.postText a:hover{
    text-decoration: underline;
}

/* Footer <--- */
footer{
    margin-bottom: 0;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: var(--page-font);
    font-size: 24px;
    padding: 30px;
}

.ftrCol1{
    margin: auto;
}

.ftrCol2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ftrCol2 a{
    text-decoration: none;
}

.ftrCol2 button{
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1C588C;
    color: #fff;
}

.ftrCol2 button:active{
    background-color: var(--nav-selected-bgc);
}

.ftrNavTop{
    display: flex;
}


.ftrNavTop a{
    margin-inline: 8px;
    border: 1px solid #fff;
    width: 78px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.ftrNavTop a:hover{
    background-color: #40c4ff;
}

.ftrNav{
    color: mediumaquamarine;
    margin-top: 16px;
    text-align: left;
}

.ftrNav a{
    padding-inline: 8px;
    margin-inline: 4px;
    color: #fff;
    border: 1px solid white;
    text-decoration: none;
}

.ftrNav a:hover{
    background-color: #40c4ff;
}


/* Media Queries <--- */
@media (orientation: portrait){
    .mainHeading{
        font-size: 40px;
        text-shadow: 3px 3px var(--heading-shadow);
        text-align: center;
    }

    .heading{
        display: grid;
        text-align: center;
        margin:0;
    }

    .postText{
        margin: 16px;
        font-size: 18px;
    }

    .ftrCol1{
        font-size: 18px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }


}