/* ===Declaring variables=== */
:root {
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow:#15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
    scroll-behavior: smooth;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

/* ===Start of CSS=== */
body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/backgrounds/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
    color: #fff;
}

.btnContainer{
    width: auto;
    margin-inline: auto;
    margin-block: auto;
}

.goBackBtn button{
    color: #FCD900;
    background-color: var(--heading-shadow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    padding-left: 4px;
    padding-top: 4px;
}

.heading{
    width: auto;
    margin-inline: auto;
}

.fpHeading1{
    margin-block: 10px 0;
    font-family: var(--heading-font);
    font-size: 40px;
    text-shadow: 0px 4px var(--heading-shadow);
}

.fpHeading2{
    margin-block: 0 4px;
    font-family: var(--heading-font);
    font-size: 40px;
    text-shadow: 0px 4px /*#ed8200*/#E8630A;
    text-align: center;
}

.s1 img{
    width: 128px;
    height: 128px;
    position: absolute;
    border: 1px solid #FCD900;
    border-radius: 4px;
    top: 16px;
    left: 16px;
}

.mainHeading{
    font-size: 54px;
    max-width: 740px;
    font-family: var(--page-font);
    margin-block: 20px 20px;
    color: #FCD900;
    text-align: center;
    text-shadow: 4px 3px #FCD90080;
    padding-left: 110px;
    z-index: 999;
}

.s1{
    display: flex;
    flex-direction: column;
    margin-block: 50px 0;
    margin-inline: auto;
    max-width: 740px;
    font-family: var(--textBlock-font);
    font-size: 20px;
    padding: 20px;
    color: #fff;
    background-color: #1C588C99;
    border: 4px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.s1 p{
    margin-block: 20px 0;
}

hr{
    margin-inline: auto;
    margin-block: 16px;
    width: 99%;
    border: none;
    border-bottom: 1px solid #fff;
}

.contentsHeading{
    margin-block: 0;
    color: #FCD900;
    font-family: var(--page-font);
}

.s1 ul{
    margin-block: 10px 0;
    list-style: none;
    padding-inline: 20px;
    font-family: var(--page-font);
}

.s1 a{
    color: #EAE3D2;
    text-decoration: none;
}

.s1 a:hover{
    text-decoration: underline;
}

.secondHeading{
    font-size: 38px;
    font-family: var(--page-font);
    margin-block: 28.22px 16px;
    color: #FCD900;
    text-align: center;
    text-shadow: 4px 3px #FCD90080;
}

.timeLine{
    max-width:640;
    background-color: #FCD900E6;
    border: 1px solid #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 18px;
}

.timeLine div{
    margin-inline: auto;
}

.s2Heading{
    color: #FCD900;
    text-shadow: 4px 3px #FCD90080;
    font-size: 34px;
    font-family: var(--page-font);
    margin-block: 16px 0px;
}


.s2{
    margin-block: 40px 0;
    margin-inline: auto;
    max-width: 740px;
    font-family: var(--textBlock-font);
    font-size: 20px;
    padding: 20px;
    background-color:   #1C588C80;
    border: 4px solid #fff;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.s3{
    margin-block: 40px 0;
    margin-inline: auto;
    max-width: 740px;
    font-family: var(--textBlock-font);
    font-size: 20px;
    padding: 20px;
    background-color:   #1C588C80;
    border: 4px solid #fff;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.s3 p{
    margin-block: 0;
    padding-left: 20px;
}

.s3 ul{
    list-style: none;
}

.s3 li{
    color: #FCD900;
    font-family: var(--page-font);
    margin-block: 10px;
}

.innerList li{
    color:#eeeddd;
    list-style-type: disc;
    margin-block: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#backToTop {
    position: fixed;
    right: 0;
    bottom: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.ftrCol2 {
    display: flex;
    justify-content: center;
}

.ftrCol2 > * {
    width: 70px;
    font-size: 40px;
    color: #EAE3D2;
    gap: 2.5rem;
}

.ftrCol2 > *:hover {
    color: #AAA;
}

@media (orientation: portrait){
    header{
        gap: 1cm;
    }
    .fpHeading1{
        font-size: 28px;
    }
    .fpHeading2{
        font-size: 28px;
    }

    .s1 img{
      display: none;
    }

    .mainHeading{
        padding-inline: 0;
        font-size: 44px;
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }

    .bTTBtnContainer button{
        right: 50px;
    }

}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
