/* ===Declaring variables=== */
:root {
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow:#15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@keyframes FadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===Start of CSS=== */
body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/backgrounds/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transform: translateY(3rem);
    animation: FadeIn 900ms ease forwards;
    opacity: 0;
}

header{
    display: flex;
    flex-direction: row;
    width: 84%;
    margin-inline: auto;
    color: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnContainer{
    width: auto;
    margin-inline: auto;
    margin-block: auto;
}

.goBackBtn button{
    color: #FCD900;
    background-color: var(--heading-shadow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    padding-left: 4px;
    padding-top: 4px;
}

.heading{
    width: auto;
    margin-inline: auto;
}

.fpHeading1{
    margin-block: 10px 0;
    font-family: var(--heading-font);
    font-size: 40px;
    text-shadow: 0px 4px var(--heading-shadow);
}

.fpHeading2{
    margin-block: 0 4px;
    font-family: var(--heading-font);
    font-size: 40px;
    text-shadow: 0px 4px /*#ed8200*/#E8630A;
    text-align: center;
}

.mainHeading{
    font-size: 70px;
    max-width: 740px;
    font-family: var(--page-font);
    margin-block: 20px 0;
    color: #FCD900;
    text-align: center;
    text-shadow: 4px 3px #fcd90080;
}

.s1{
    display: flex;
    flex-direction: column;
    margin-block: 50px 0;
    margin-inline: auto;
    max-width: 740px;
    font-family: var(--textBlock-font);
    font-size: 20px;
    padding: 20px;
    color: #fff;
    background-color: #1C588C80;
    border: 4px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.s1 p{
    margin-block: 20px 0;
}

.s2{
    margin-block: 50px;
    margin-inline: auto;
    max-width: 740px;
    font-family: var(--textBlock-font);
    font-size: 20px;
    padding: 20px;
    color: #fff;
    background-color: #1C588C80;
    border: 4px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

hr{
    margin-block: 10px;
    width: 99%;
    border: none;
    border-bottom: 1px solid #fff;
}

.contentsHeading{
    margin: 0;
    text-align: left;
    font-family: var(--page-font);
    text-shadow: 2px 3px #fcd90080;
    color: #FCD900;
}

.s1 ul{
    margin: 0;
    text-align: left;
    list-style: none;
    padding-inline: 20px;
}

a{
    color: #EAE3D2;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
   } 

footer{
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: var(--page-font);
    margin-top: auto;
    font-size: 24px;
    padding: 20px;
}

.ftrCol1{
    margin: auto;
}

.ftrCol2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ftrNavTop{
    display: flex;
}


.ftrNavTop a{
    margin-inline: 8px;
    border: 1px solid #fff;
    width: 78px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.ftrNavTop a:hover{
    background-color: #40c4ff;
}

.ftrNav{
    color: mediumaquamarine;
    margin-top: 16px;
    text-align: left;
}

.ftrNav a{
    padding-inline: 8px;
    margin-inline: 4px;
    color: #fff;
    border: 1px solid white;
    text-decoration: none;
}

.ftrNav a:hover{
    background-color: #40c4ff;
}

@media (orientation: portrait){

    header{
        gap: 1cm;
    }
    .fpHeading1{
        font-size: 28px;
    }
    .fpHeading2{
        font-size: 28px;
    }

    .mainHeading{
        padding-inline: 0;
        font-size: 32px;
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }

    .bTTBtnContainer button{
        right: 50px;
    }

}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
