<footer>
  <div class="footer-lang footer-container" data-lang="ar" dir="rtl">
    <div class="footer-column">
      • بلال جمال حمدان - <span class="footer-year"></span>
    </div>
    <div class="footer-column">
      <a href="/en/index.html"><i class="fa-solid fa-language" aria-hidden="true"></i></a>
      <a href="/credits.html"><i class="fa-solid fa-ellipsis" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="footer-lang footer-container" data-lang="en">
    <div class="footer-column">
      • Belal J. Hamdan - <span class="footer-year"></span>
    </div>
    <div class="footer-column">
      <a href="/ar/index.html"><i class="fa-solid fa-language" aria-hidden="true"></i></a>
      <a href="/en/credits.html"><i class="fa-solid fa-ellipsis" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>

