/* ===Declaring Variables=== */
:root{
    scroll-behavior: smooth;
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'monogram';
    --page-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --textBlock-font:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-shadow: #15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}
/* ===Start of CSS=== */
.utility1{
    width: 99%;
    list-style: none;
}

.utility2{
    text-align: center;
    font-family: var(--page-font);
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(/assets/backgrounds/background.png);
    background-size: cover;
}

 /* Navigation <--- */
.mainNav{
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: subtitleFadeIn 2s ease 3s forwards;;
}

.mainNav a{
    font-family: var(--page-font);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin-inline: 12px;
    margin-top: 20px;
    color: white;
    background-color: var(--nav-bgc);
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.mainNav a:hover{
    background-color: var(--nav-hover-bgc);
}

.mainNav a.selected, nav a.selected:hover{
    background-color: var(--nav-selected-bgc);
    border: #fff solid 1px;
}

/* Main Heading <--- */
.mainHeading{
    margin-top: 30px;
    margin-bottom: 70px;
    font-family: var(--heading-font);
    font-weight: normal;
    font-size: 225px;
    color: white;
    position: relative;
    text-shadow: 0px 14px var(--heading-shadow);
    text-align: right;
}

.subtitle{
    font-family: var(--page-font);
    font-weight: 400;
    font-size: 80px;
    text-shadow: 0px 4px #1C588C;
    color: white;
    width: fit-content;
    text-align: center;
    border-radius: 1px;

}

#downArrow a{
    margin-top: 125px;
    margin-bottom: 4cm;
    color: #fff;
    font-size: 2px;
    background: linear-gradient(dodgerblue, #6dffff, #fff);
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    animation: hovering 1s ease-in-out forwards infinite alternate;
}

@keyframes hovering{

    100% {
         transform: translateY(1rem); 
        }
}


#section3{
    padding-bottom: 20px;
}


.textBlockOne{
    font-family: var(--textBlock-font);
    font-size: 22px;
    color: white;
    text-align: right;
    margin: auto;
    background-color: #1C588C80;
    max-width: 640px;
    padding: 20px;
    border-radius: 8px;
}
.textBlockTwo{
    font-family: var(--textBlock-font);
    font-size: 22px;
    color: white;
    text-align: right;
    margin: auto;
    background-color: #1C588C80;
    max-width: 640px;
    padding: 20px;
    border-radius: 8px;
}

.textBlock a{
    text-decoration: none;
    color: #6dffff;
}

.btt a{
    text-decoration: none;
    padding: 4px;
    background: linear-gradient(blue, dodgerblue, aqua, white);
    border: 1px solid #fff;
    border-radius: 4px;
    color: white;
    font-family: var(--page-font);
    font-size: 18px;
    font-weight: bolder;
    position: fixed;
    top: -50px;
    left: 5px;
    animation: arrowShrink 1s ease forwards;
    height: 60px;
}

.btt a:hover{
    animation: arrowGrow 1s ease forwards;
}

@keyframes arrowGrow {

    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(1.8rem);
    }
}

@keyframes arrowShrink {

    0%{
        transform: translateY(1.8rem);
    }

    100%{
        transform: translateY(0);
    }
}


footer{
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: var(--page-font);
    margin-top: 50px;
    font-size: 24px;
    padding: 20px;
}

.ftrCol1{
    margin: auto;
}

.ftrCol2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ftrNavTop{
    display: flex;
}


.ftrNavTop a{
    margin-inline: 8px;
    border: 1px solid #fff;
    width: 78px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.ftrNavTop a:hover{
    background-color: #59b496;
}

.ftrNav{
    color: mediumaquamarine;
    margin-top: 16px;
    text-align: left;
}

.ftrNav a{
    padding-inline: 8px;
    margin-inline: 4px;
    color: #fff;
    border: 1px solid white;
    text-decoration: none;
}

.ftrNav a:hover{
    background-color: #59b496;
}


/* ===Animations=== */
h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background-color: #000;
    animation: typewriter 2.4s steps(8) forwards;
}
.subtitle{
    transform: translateY(3rem);
    animation: subtitleFadeIn 2s ease 2.5s forwards;
    opacity: 0;
}

#downArrow{
    transform: translateY(3rem);
    animation: subtitleFadeIn 2s ease 3.7s forwards;
    opacity: 0;
}

@keyframes typewriter {
    to { 
        left: 100%;
    }
}

@keyframes subtitleFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Setting Grids */
.heading{
    display:grid;
    place-items: center;
}

.subtitles{
    display:grid;
    place-items: center;
}

#downArrow {
    display: grid;
    place-items: center;
}

.textBlock{
    display: flex;
    flex-direction: column;
    gap: 2cm;
}

.btt{
    display: grid;
    place-items: center;
}

@media (orientation: portrait) {

    .mainHeading{
        margin-block: 50px 50px;
        font-family: 'monogram';
        font-size: 120px;
        text-shadow: 0px 6px var(--heading-shadow);
    }
    .subtitle{
        font-size: 42px;
        margin-block: 50px;
    }

    .textBlock{
        display: flex;
       flex-direction: column;
       gap: 1cm;
    }

    .textBlockOne{
        margin: 0;
    }

    .textBlockTwo{
        margin: 0;
    }

    .ftrCol1{
        font-size: 20px;
    }

    .ftrNavTop{
        display: grid;
    }

}

@media (orientation: landscape) and (max-width: 900px){

    .mainHeading{
        font-size: 175px;
        margin-block: 0px 0px;
        text-shadow: 0px 10px var(--heading-shadow);
    }

    .subtitle{
        font-size: 42px;
    }

    #downArrow a{
        margin-block: 50px 100px;
    }
}


::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
