/* ===Declaring Variables=== */
:root{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow: #15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

/* ===Start of CSS=== */
body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/backgrounds/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

.mainNav{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mainNav a{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin-inline: 12px;
    margin-top: 25px;
    color: white;
    background-color: var(--nav-bgc);
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.mainNav a:hover{
    background-color: var(--nav-hover-bgc);
}

.mainNav a.selected, nav a.selected:hover{
    background-color: var(--nav-selected-bgc);
    border: #fff solid 0.5px;
}

.heading{
    display: grid;
    place-items: center;
}

.mainHeading{
    margin-top: 75px;
    margin-bottom: 25px;
    font-family: var(--heading-font);
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 14px var(--heading-shadow);
}

.mobileSidebar{
    padding-block: 2px;
    position: sticky;
    top: 0;
    width: 85vw;
    margin-inline: auto;
    background-color: var(--nav-selected-bgc);
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: #00000059 0px 5px 15px;
}

.mobileSidebar a{
    color: #97ffff;
    font-size: 28px;
    font-family: var(--textBlock-font);
    font-weight: 500;
    text-decoration: none;
    margin-inline: 15px;
}


.blogContent{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.blogContentNav{
    margin-top: 20px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid #fff;
    width: 50px;
    height: 232px;
    padding-block: 32px;
    padding-inline: 2px;
    background-color: var(--nav-selected-bgc);
    box-shadow: #00000059 0px 5px 15px;
}

.blogContentNav a{
    padding-block: 10px;
    color: #97ffff;
    font-size: 28px;
    font-family: var(--page-font);
    font-weight: 500;
    text-decoration: none;
}

.blogContentNav a:hover{
    color: #6dffffCC;
}

#s1{
    display: flex;
    justify-content: center;
    gap: 1cm;
    margin-top: 20px;
    max-width: 902px;
    padding: 20px;
    border: 4px solid #fff;
    background-color: var(--textBlock-bgc);
    box-shadow: #00000059 0px 5px 15px;
    text-align: left;
}

#s1 p{
   font-family: "Changa";
   font-size: 14px; 
   color: #fff;
   padding-left: 20px;
   margin-block: 0;
}

#s1 .postInfo{
    padding-inline: 20px;
    color: #ccc;
    font-family: var(--page-font);
    font-size: 12px;
}

.postsSeperation{
    margin: 0 0 10px 0;
    width: 80%;
}
.postsList{
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 0;
    flex-basis: 400px;
    list-style: none;
    background-color: #23395d;
    box-shadow: #00000059 0px 5px 15px;
    height: 400px;
    overflow: scroll;
}

.pinnedPostsList{
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 0;
    flex-basis: 400px;
    list-style: none;
    background-color: #23395d;
    box-shadow: #00000059 0px 5px 15px;
}

#s1 a{
    color: #EAE3D2;
    text-decoration: none;
    font-family:var(--textBlock-font);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 2px #15446e;
}

#s1 a:hover{
    text-decoration: underline;
    color: #aaa;
}

.listBullet{
   color: #fff;
   font-size: 26px;
   font-family: var(--page-font);
}

#s1 h2{
    margin: 0;
}

#s2{
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.plansBlock{
    text-align: left;
    border: 4px solid #E1E3E0;
    padding: 20px;
    max-width: 902px;
    background-color: var(--textBlock-bgc);
    box-shadow: #00000059 0px 5px 15px;
    color: white;
    font-size: 20px;
    font-family: var(--textBlock-font);
}

#s3{
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.archBlock{
    text-align: left;
    border: 4px solid #E1E3E0;
    padding: 20px;
    max-width: 902px;
    background-color: var(--textBlock-bgc);
    box-shadow: #00000059 0px 5px 15px;
    color: white;
    font-family: var(--textBlock-font);
    font-size: 20px;
    margin-block: 0 50px;
}

h2{
    margin-block: 0 5px;
    font-family: var(--page-font);
    color: #6dffff;
}

p{
    margin-block: 0 16px;
}

ul{
    list-style: none;
    padding-left: 20px;
    margin-top: 0;
}

.archBlock a{
    color: #EAE3D2;
    text-decoration: none;
    font-size: 20px;
}

.archBlock a:hover{
    text-decoration: underline;
}

.archBlock p{
    color: #eee;
    margin-block: -6px 0;
}

#bttBtn{
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1C588C;  
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-size: 25px;
}

#bttBtn:active{
background-color: var(--nav-selected-bgc);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.ftrCol2 {
    display: flex;
    justify-content: center;
}

.ftrCol2 > * {
    width: 70px;
    font-size: 40px;
    color: #EAE3D2;
    gap: 2.5rem;
}

.ftrCol2 > *:hover {
    color: #AAA;
}

@keyframes FadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (orientation: portrait) {
	.mainNav a {
	   width: 50px;
   }


    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }

}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}

@media (max-width: 480px){
	#s1{
	flex-direction: column;
}
    .blogContentNav{
	display: none;
}
    .mainHeading{
        font-size: 80px;
        text-shadow: 0px 11px var(--heading-shadow);
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 62px;
        margin-inline: 4px;
    }
}

@media (min-width: 481px) and (max-width: 1280px){
    .mobileSidebar{
        display: none;
    }
}

@media (min-width: 1280px){
    .mobileSidebar{
        display: none;
    }
}    

