/* ===Declaring Variables=== */
:root{
    scroll-behavior: smooth;
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P';
    --page-font: 'Orbitron';
    --textBlock-font: 'Changa';
    --heading-shadow: #15446e;
    --textBlock-bgc: #1C588C8C;
}

/* ===FONTS=== */
@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
    background-image: url(/assets/backgrounds/pixel-space.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transform: translateY(3rem);
    animation: FadeIn 900ms ease forwards;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-bottom: -50px; /* same as footer height */
    padding-bottom: 50px; /* same as footer height */
    box-sizing: border-box;
	
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    font-size: 90px;
    font-family: var(--page-font);
    font-weight: bold;
    text-shadow: 0px 6px var(--heading-shadow);
}

header a {
	font-size: 50px;
}

h2 {
    text-align: center;
    color: #fcd900;
    font-family: var(--page-font);
}

.box {
    background-color: var(--textBlock-bgc);
    margin-inline: auto;
    border: 4px solid #fff;
    list-style: none;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    padding: 20px;
    max-width: 420px;
    color: #fff;
}

.big-font {
    font-size: 28px;
}

a {
    color: #EAE3D2;
    text-decoration: none;
}

a:hover {
    color: #aaa;
    text-decoration: underline;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.footer-column > a {
	margin-inline: 10px;
	font-size: 40px;
	color: #EAE3D2;
}

@keyframes FadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (orientation: portrait){
    header {
       font-size: 45px;
    }
    
    header a {
       font-size: 32px;
       }

    .creditsHeading{
        font-size: 36px;
        margin-block: auto;
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }

    .big-font {
        font-size: 20px;
    }

}




.ftrNav a:hover{
    background-color: #40c4ff;
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
