/* ===Declaring variables=== */
:root {
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow:#15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

/* ===FONTS=== */
@font-face {
    font-family: "Uni Sans";
    src: url(/assets/fonts/uni-sans.heavy-caps.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
    background-color: #313338;
    transform: translateY(3rem);
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-bottom: -50px; /* same as footer height */
    padding-bottom: 50px; /* same as footer height */
    box-sizing: border-box;
	
}

h1{
    font-family: "Uni Sans";
    text-align: center;
    color: #5865f2;
    text-shadow: 6px 6px  #000000;
    margin-bottom: 0;
}

h1 a {
    color: #fff;
}

h1 a:hover {
    color: #aaa;
}

.profile{
    width: 100%;
    max-width: 600px;
    height: 480px;
    position: relative;
    margin-inline: auto;
    margin-block: 0 120px;
    box-shadow: #00000059 0px 5px 15px;
}

.header{
    max-width:600px;
    height: 210px;
    background-color: #c91d1d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.backCircle{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #18191c;
    position: absolute;
    top: 140px;
    left: 17px;
}

.backCircle img{
    max-width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    bottom: 8px;
}

.status{
    max-width: 38.0167px;
    height: 38.0167px;
    border-radius: 50%;
    background-color: #18191c;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.online{
    max-width: 23.0167px;
    height: 23.0167px;
    border-radius: 50%;
    background-color: #3ba55d;
    position: absolute;
    left: 7px;
    bottom: 8px;
}

.belowHeader{
    max-width:600px;
    height: 120px;
    background-color: #111214;
    border-bottom: 1px solid #32353b;
}

.displayName{
    margin-top: 70px;
    margin-inline: 16px;
    position: absolute;
    font-family: system-ui;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.userName {
    position: relative;
    top: 19px;
    right: 140px;
    font-weight: normal;
    font-size: 12px;
}

.tag{
    display: none;
    color: #b9bbbe;
}

.belowHeader img{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 287px;
    left: 160px;
}


.bottom{
    max-width: 600px;
    height: 240px;
    background-color: #111214;
}

.aboutMe{
    padding: 20px;
    color: #b9bbbe;
    border-bottom: 8px;
    font-family: 'Uni Sans';
    font-size: 12px;
}

.aboutMe p{
    margin-block: 8px 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
}

.note{
    font-family: 'Uni Sans';
    font-size: 12px;
    color: #b9bbbe;
}

input{
    margin-top: 9px;
    background-color: #18191c;
    border: none;
    color: #80818b;
    max-width: 560px;
    height: auto;
}

hr{
    margin-inline: auto;
    margin-block: 16px;
    width: 32%;
    border: none;
    border-bottom: 4px solid #41464d;
    border-radius: 5px;
}

h2{
    font-family: "Uni Sans";
    text-align: center;
    color: #f8f8f8;
    text-shadow: 6px 6px  #2c2d2d;
    margin-bottom: 8px;
}

.textBlock {
    text-align: center;
    padding: 20px;
    margin: 0;
    color: #b9bbbe;
    font-family: 'Orbitron';
    font-size: 24px;
}

.inviteContainer{
    width: 100%;
    max-width: 390px;
    height: 90px;
    background-color: #2f3136;
    padding: 16px;
    position: relative;
    margin-inline: auto;
    margin-block: 0 50px;
    box-shadow: #00000059 0px 5px 15px;
}

.inviteMsg{
    font-family: 'Uni Sans';
    font-size: 12px;
    color: #b9bbbe;
    margin-bottom: 12px;
}

.inviteContainer img{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position: absolute;
    top: 42px;
    left: 16px;
}

.serverTitle{
    margin: 0;
    margin-top: 16px;
    margin-left: 62px;
    font-family: 'Uni Sans';
    font-size: 14px;
    color: #fff;
}

.statusBall{
    width: 8px;
    height: 8px;
    background-color: #3ba55d;
    border-radius: 4px;
    position: absolute;
    top: 76px;
    left: 78px;
}

.currentOnline{
    color: #a7aaac;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 72px;
    left: 90px;
}

.offlineBall{
    width: 8px;
    height: 8px;
    background-color: #747f8d;
    border-radius: 4px;
    position: absolute;
    top: 76px;
    left: 160px;
}

.currentOffline{
    color: #a7aaac;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 72px;
    left: 172px;
}

.joinButton{
    position: absolute;
    top: 48px;
    left: 330px;
    background-color: #2d7d46;
    padding-inline: 16px;
    height: 40px;
    width: 70px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.joinButton a{
    color: inherit;
    text-decoration: none;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.footer-column > a {
	margin-inline: 10px;
	font-size: 40px;
	color: #EAE3D2;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 400px){
    .inviteContainer {
        width: fit-content;
}
    .inviteMsg {
	margin: auto;
    }
    
    .joinButton {
        margin-top: 5px;
        top: 100%;
        left: 35%;
        right: 0;
        bottom: 0; 
    }
}

@media (orientation: portrait){
    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
