/* ===Declaring variables=== */
:root {
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow:#15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

/* ===Start of CSS=== */
body{
    padding: 0px;
    margin: 0px;
    background-image: url(/assets/backgrounds/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: translateY(3rem);
    animation: fadeIn 900ms ease forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}


/* Navigation <--- */
.mainNav{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mainNav a{
    font-family: var(--page-font);
    font-weight: bolder;
    padding: 10px;
    margin-inline: 12px;
    margin-top: 25px;
    color: white;
    background-color: var(--nav-bgc);
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.mainNav a:hover{
    background-color: var(--nav-hover-bgc);
}

.mainNav a.selected, nav a.selected:hover{
    background-color: var(--nav-selected-bgc);
    border: #fff solid 1px;
}

.wlcmInterface{
   height: 100vh;
}

 /* Main Heading <--- */
.heading{
    display: grid;
    place-items: center;
}

.mainHeading{
    margin-top: 75px;
    margin-bottom: 0;
    font-size: 86px;
    font-family: var(--heading-font);
    font-weight: bold;
    color: white;
    text-shadow: 0px 12px var(--heading-shadow);
    text-align: center;
}

.secondHeading{
    font-size: 86px;
    color: white;
    font-family: var(--heading-font);
    text-shadow: 0px 12px /*#ed8200*/#E8630A;
    margin-block: 6px 30px;
}

.subtitles{
    display:grid;
    place-items: center;
}

.subtitle{
    font-family: var(--page-font);
    font-weight: 400;
    font-size: 50px;
    text-shadow: 0px 4px #1C588C;
    color: white;
    width: fit-content;
    text-align: center;
    border-radius: 1px;
    margin-bottom: 40px;
}

main{
    text-align: center;
    padding: 20px;
    height: 820px;
    background-color: var(--textBlock-bgc) ;
    margin-inline: auto;
    width: 740px;
    border: 4px solid #fff;
}

main ul{
    display: flex;
    list-style-type: none;
    gap: 10px
}

main li{
    border: 1px #fff;
    border-right-style: solid;


}

main a{
    color: beige;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Orbitron;
}


.textBlockContainer{
    display: grid;
    place-items: center;
}

.textBlock{
    margin-inline: auto;
    width: auto;
    color: #FFF;
    font-family: var(--textBlock-font);
    padding: 20px;
    font-size: 17px;
    text-align: left;
    margin-block: 0 50px;
    display: flex;
    flex-direction: column;
}

.textBlock ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5cm;
    max-width: 852px;
    text-align: left;
    list-style: none;
    padding-inline-start: 0;
}

.textBlock li{
    border: 4px solid #fff;
    text-align: center;
    height: 100px;
    width: 140px;
    padding: 8px;
    display: grid;
    place-items: center;
    background-color: #001E6C;
}

.textBlock a{
    color: #EAE3D2;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--page-font);
    text-decoration: none;
}

.textBlock a:hover{
    text-decoration: underline;
}

.textBlock p{
    margin: 0;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}

footer{
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
    font-family: var(--page-font);
    margin-top: auto;
    font-size: 24px;
    padding: 20px;
}

.ftrCol1{
    margin: auto;
}

.ftrCol2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ftrNavTop{
    display: flex;
}


.ftrNavTop a{
    margin-inline: 8px;
    border: 1px solid #fff;
    width: 78px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.ftrNavTop a:hover{
    background-color: #40c4ff;
}

.ftrNav{
    color: mediumaquamarine;
    margin-top: 16px;
    text-align: left;
}

.ftrNav a{
    padding-inline: 8px;
    margin-inline: 4px;
    color: #fff;
    border: 1px solid white;
    text-decoration: none;
}

.ftrNav a:hover{
    background-color: #40c4ff;
}





@media (orientation: portrait){
    .mainHeading{
        font-size: 45px;
        text-shadow: 0px 6px var(--heading-shadow);
    }

    .secondHeading{
        font-size: 45px;
        text-shadow: 0px 6px #ed8200;
        margin-block: 1px 30px;
    }

    .subtitle{
        font-size: 42px;
    }

    .textBlock{
        margin: 0;
        width: auto;
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }
}

@media (orientation: landscape) and (max-width: 900px){
    .mainHeading{
        font-size: 88px;
        text-shadow: 0px 12px var(--heading-shadow);

    }
    .secondHeading{
        font-size: 88px;
        text-shadow: 0px 12px #ed8200;
    }

    .textBlock{
        padding: 0;
    }

    ul{
        padding: 0;
    }

    .textBlock li{
        width: 140px;
    }

    .textBlock a{
        font-size: 18px;
    }

    .ftrCol1{
        font-size: 20px;
    }

    .ftrNavTop{
        display: flex;
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}



@-moz-document url-prefix(){
    .secondHeading{
        margin-block: -16px 30px;
    }
}

@-moz-document url-prefix() {
    @media (orientation: portrait) {
        .secondHeading{
            margin-block: -7px 30px;
        }
    }
}
