/* ===Declaring variables=== */
:root {
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow:#15446e;
    --textBlock-bgc: #1C588C8C;
    --footer-bgc:#0e2c46;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

/* ===Start of CSS=== */
body{
    padding: 0px;
    margin: 0px;
    background-image: url(/assets/backgrounds/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: translateY(3rem);
    animation: fadeIn 900ms ease forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


/* Navigation <--- */
.mainNav{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mainNav a{
    font-family: var(--page-font);
    font-weight: bolder;
    padding: 10px;
    margin-inline: 12px;
    margin-top: 25px;
    color: white;
    background-color: var(--nav-bgc);
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.mainNav a:hover{
    background-color: var(--nav-hover-bgc);
}

.mainNav a.selected, nav a.selected:hover{
    background-color: var(--nav-selected-bgc);
    border: #fff solid 1px;
}

 /* Main Heading <--- */
.heading{
    display: grid;
    place-items: center;
}

.mainHeading{
    margin-top: 75px;
    margin-bottom: 0;
    font-size: clamp(38px, 7.5vw + 1rem, 86px);
    font-family: var(--heading-font);
    font-weight: bold;
    color: white;
    text-shadow: 0px 12px var(--heading-shadow);
    text-align: center;
}

.secondHeading{
    font-size: clamp(38px, 7.5vw + 1rem, 86px); 
    color: white;
    font-family: var(--heading-font);
    text-shadow: 0px 12px /*#ed8200*/#E8630A;
    margin-block: 6px 30px;
}

.subtitle{
    font-family: var(--page-font);
    font-weight: 400;
    font-size: 50px;
    text-shadow: 0px 4px #1C588C;
    color: white;
    width: fit-content;
    text-align: center;
    border-radius: 1px;
    margin-bottom: 40px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    background-color: var(--textBlock-bgc);
    border: 2px solid #fff;
    padding: 20px;
    margin-block: 0 50px;
    margin-inline: 20px;
    gap: 1.5rem;
}

img {
    border-radius: 10px;
    max-height: 230px;
    max-width: 230px;
    box-shadow: #000000 0px 5px 15px;
}

img:hover {
    box-shadow: #ffffff80 0px 5px 15px;
}

footer {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.ftrCol2 {
    display: flex;
    justify-content: center;
}

.ftrCol2 > * {
    width: 70px;
    font-size: 40px;
    color: #EAE3D2;
    gap: 2.5rem;
}

.ftrCol2 > *:hover {
    color: #AAA;
}

@media (orientation: portrait){
    .mainNav a {
	width: 50px;
	margin-inline: 10px;
}
    .mainHeading{
        text-shadow: 0px 6px var(--heading-shadow);
    }

    .secondHeading{
        text-shadow: 0px 6px #ed8200;
        margin-block: 1px 30px;
    }

    .subtitle{
        font-size: 42px;
    }

    .ftrCol1{
        font-size: 18px;
    }

    .ftrCol2{
        font-size: 20px;
    }

    .ftrCol2 a{
        width: 60px;
        margin-inline: 4px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 0.4cm;
    }
}

@media (orientation: landscape) and (max-width: 900px){
    .mainHeading{
        font-size: 88px;
        text-shadow: 0px 12px var(--heading-shadow);

    }
    .secondHeading{
        font-size: 84px;
        text-shadow: 0px 12px #ed8200;
    }

    .textBlock{
        padding: 0;
    }

    ul{
        padding: 0;
    }

    .textBlock li{
        width: 140px;
    }

    .textBlock a{
        font-size: 18px;
    }

    .ftrCol1{
        font-size: 20px;
    }

    .ftrNavTop{
        display: flex;
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}



@-moz-document url-prefix(){
    .secondHeading{
        margin-block: -16px 30px;
    }
}

@-moz-document url-prefix() {
    @media (orientation: portrait) {
        .secondHeading{
            margin-block: -7px 30px;
        }
    }
}
