body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/backgrounds/background.png);
    background-attachment: fixed;
    background-size: cover;
}

h1{
    margin-inline: auto;
    border: 4px solid #fff;
    max-width: 760px;
    padding: 20px;
    background-color: navy; 
    color: #eae3d2;
    text-align: center;
    font-size: 24px;
}

.imgContainer{
    max-width: 800px;
    margin: auto;
}

img {
    width: 100%;
    outline: 4px #000 solid;
}

p{
    margin-block: 0;
}

footer{
    padding: 20px;
    margin-block: 50px 0;
    background-color: #000;
    text-align: center;
    border: 2px solid #fff;
    color: wheat;
    font-size: 22px;
}
