/* ===Declaring Variables=== */
:root{
    scroll-behavior: smooth;
    --nav-bgc:#1C588C;
    --nav-hover-bgc:#1C588C80;
    --nav-selected-bgc:#15446e;
    --heading-font: 'Press Start 2P', cursive;
    --page-font: 'Orbitron', sans-serif;
    --textBlock-font: 'Changa', sans-serif;
    --heading-shadow: #15446e; 
    /*--heading-shadow: #a66225;*/ 
    --textBlock-bgc: #1C588C8C; 
    /*--textBlock-bgc: #231f3a99; */
    --footer-bgc:#0e2c46;
    --heading-fontSize: 250px;
}

a {
    text-decoration: none;
    color: #EAE3D2;
}

a:hover {
    text-decoration: underline;
    color: #AAA;
}

/* ===FONTS=== */
@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/fonts/PressStart2P.woff);
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "monogram";
    src: url(/assets/fonts/monogram.woff);
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url(/assets/fonts/Changa-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
   font-family: "kawkabmono";
   src: url(/assets/fonts/kawkabmono.ttf);
}

html, body {
	height: 100%;
    	padding: 0;
        margin: 0;
}

body {
    background-image: url(/assets/backgrounds/pixel-space.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-bottom: -50px; /* same as footer height */
    padding-bottom: 50px; /* same as footer height */
    box-sizing: border-box;
	
}

h1 {
    font-family: 'monogram';
    font-weight: normal;
    font-size: var(--heading-fontSize);
    color: white;
    position: relative;
    text-shadow: 0px 9px var(--heading-shadow);
    margin-block: 0;
}

h1::before,
h1::after {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

h1::before {
    background: #000;
    animation: typewriter 2s steps(8) forwards; 
}
@keyframes typewriter {
    to { left: 100%;}
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.subtitle {
    font-family: var(--page-font);
    font-weight: 400;
    font-size: 50px;
    text-shadow: 0px 3px #1C588C;
    color: white;
    width: fit-content;
    text-align: center;
    border-radius: 1px;
    opacity: 0;
    margin-block: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 2.4s forwards;
}

.info-board {
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;
     grid-template-rows: auto auto;
     gap: 10px;
     width: 80%;
     max-width: 1200px;
     margin-block: 50px;
     opacity: 0;
     transform: translateY(3rem);
     animation: fadeInUp 2s ease 3s forwards;
}

.box {
    border-radius: 2px;
    border: 2px solid #fff;
    padding: 20px;
    background-color: var(--textBlock-bgc);
    color: #fff;
}

.box h2 {
    margin-block: 0 2px;
}

ul {
    margin: 0;
}

.about {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--page-font);
}

.about p {
    font-weight: bold;
    font-size: 25px;
}

.whats-new {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 18px;
    font-family: var(--page-font);
}

.featured {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-family: var(--page-font);
}

.fp-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.fp-list li {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
}

.fp-list p{
    margin-block: 8px;
    font-size: 18px;
    font-weight: bold;
}

.blog {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--page-font);
}

.blog p {
    font-size: 25px;
    font-weight: bold;
}

.scrollable {
    height: 200px;
    overflow-y: scroll;
    font-family: var(--textBlock-font);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    font-family: var(--page-font);
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.footer-column > a {
	margin-inline: 10px;
	font-size: 40px;
	color: #EAE3D2;
}

@keyframes subtitleFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #ffffff33;
}

::-webkit-scrollbar-thumb{
    background: #1C588CCC;
}

@supports(scrollbar-color: #1C588CCC #ffffff33 ){
    * {
        scrollbar-color: #1C588CCC #ffffff33;
        scrollbar-width: auto;
    }
}
